@font-face {
    font-family: 'BeauFort';
    src: url('../fonts/beaufort_medium.ttf') format('truetype');
}
@font-face {
    font-family: 'D2Coding';
    src: url('../fonts/d2coding.ttf') format('truetype');
}

body {
    font-family: 'BeauFort', Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-container strong {
    margin-right: 10px;
}

#walletTable {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#walletTable th, #walletTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'D2Coding', monospace;
}

#walletTable th {
    font-family: 'CustomFont', Arial, sans-serif;
    background-color: #f2f2f2;
}