NODE_ENV=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

UID=
GID=

PORT=
WS_ORIGIN=
CORS_ORIGIN=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=
RATE_LIMIT_MESSAGE=Too many requests from this IP, please try again after a minute

# Limits
BODY_PARSER_LIMIT=
IMAGE_SIZE_LIMIT_BYTES=
STATS_CUTOFF_MS=

# Database
MONGODB_MAX_TIME_MS=

LOG_FILE=

CHROME_EXTENSION_ID=

JWT_SECRET=
JWT_EXPIRES_IN_WEB=
JWT_EXPIRES_IN_EXTENSION=
COOKIE_MAX_AGE_MS=
COOKIE_NAME=
COOKIE_SAME_SITE=

ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=

MONGO_USER=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_DB_NAME=
MONGO_TLS=true
MONGO_AUTH_SOURCE=admin

COLLECTION_ADDRS=
COLLECTION_CHAINS=
COLLECTION_ENTITES=
COLLECTION_COINGECKO_RANK=
COLLECTION_COINGECKO_LIST=
GATEIO_MARKET_URL=
BITGET_MARKET_URL=
BINANCE_F_MARKET_URL=https://fapi.binance.com/fapi/v1/exchangeInfo
HYPERLIQUID_F_MARKET_URL=https://api.hyperliquid.xyz/info
MARKET_CACHE_UPDATE_INTERVAL_SEC=